DB_HOST=<your-var-here>
DB_USER=<your-var-here>
DB_PASSWORD=<your-var-here>
DB_PORT=<your-var-here>
SERVER_PORT=<your-var-here>
SERVER_ENV=<your-var-here>
DB_DATABASE=<your-var-here>
DB_VOLUME=<your-var-here>