docwell.garvitkansal.com {
    tls garvitkansal@gmail.com
    reverse_proxy http://localhost:3000 
}

docwell.centralindia.azurecontainer.io {
    tls garvitkansal@gmail.com
    reverse_proxy http://localhost:3000 
}

docwell.centralindia.azurecontainer.io:8080 {
    tls garvitkansal@gmail.com
    reverse_proxy http://localhost:8080
}
