{$AZ_DOMAIN_NAME}.garvitkansal.com {
    tls garvitkansal@gmail.com
    reverse_proxy http://localhost:3000 
}

{$AZ_DOMAIN_NAME}.garvitkansal.com:8080 {
    tls garvitkansal@gmail.com
    reverse_proxy http://localhost:8079
}